{% extends "layout.html" %}

{% block title %}
    Upload PDF files
{% endblock %}

{% block main %}
    <div class="Box col-12 mx-auto text-center">
        <h3>Upload new PDF file</h3>
        <form style="display: inline-flex; max-width: 100%" enctype="multipart/form-data" action="/upload" method="post">
            <dl class="form-group" style="max-width: 100%">
                <dd>
                <input class="form-control" type="file" name="file">
                <!--<input type="hidden" name="slug" value="cs50/labs/2021/x/ethics">-->
                <input class="btn btn-primary" type="submit" value="Upload">
                </dd>
            </dl>
        </form>
    </div>
{% endblock %}
